<app-header></app-header>
<body>
    <mat-card>
     <h1>ตั้งค่าการแจ้งเตือน</h1>
<mat-tab-group>
    <mat-tab label="การตั้งค่าแจ้งเตือนสินค้าในคลังใกล้หมด">
        
      
      <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        
        <div class="example-container mat-elevation-z8">
        
          <mat-table [dataSource]="dataSource" matSort>
        
            

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell style="flex: 0 0 10%;" *matHeaderCellDef mat-sort-header> รหัสสินค้า </mat-header-cell>
              <mat-cell style="flex: 0 0 10%;" *matCellDef="let product"> {{product.Product_Code}}</mat-cell>
            </ng-container>
        
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสินค้า </mat-header-cell>
              <mat-cell *matCellDef="let product"> {{product.Product_Name}} </mat-cell>
            </ng-container>

             <!-- Progress Column -->
             <ng-container matColumnDef="noti1">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 1 </mat-header-cell>
              <mat-cell *matCellDef="let product"> <div class="ui input" >
                <input type="text"  placeholder={{product.Notifications_Amount1}} [(ngModel)]="product.noti1"  >
              </div> </mat-cell>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="noti2">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 2 </mat-header-cell>
              <mat-cell *matCellDef="let product"> <div class="ui input" >
                <input type="text"  placeholder={{product.Notifications_Amount2}} [(ngModel)]="product.noti2" >
              </div> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noti3">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 3 </mat-header-cell>
              <mat-cell *matCellDef="let product">  <div class="ui input" >
                <input type="text"  placeholder={{product.Notifications_Amount3}} [(ngModel)]="product.noti3" >
              </div> </mat-cell>
            </ng-container>


            <ng-container matColumnDef="button">
              <mat-header-cell   *matHeaderCellDef mat-sort-header  >   </mat-header-cell>
              <mat-cell *matCellDef="let product">  <button class="ui inverted green button" (click)="setting_amount(product.Product_Code,product.noti1,product.noti2,product.noti3)">ยืนยัน</button> &nbsp; <button class="ui inverted red button">ยกเลิก</button> </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let product; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        
          
    </mat-tab>
    <mat-tab label="การตั้งค่าแจ้งเตือนสินค้าใกล้หมดอายุ">
      
          
          <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            
            <div class="example-container mat-elevation-z8">
            
              <mat-table [dataSource]="dataSource" matSort>
            
               <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell style="flex: 0 0 10%;" *matHeaderCellDef mat-sort-header> รหัสสินค้า </mat-header-cell>
              <mat-cell style="flex: 0 0 10%;" *matCellDef="let product"> {{product.Product_Code}} </mat-cell>
            </ng-container>
        
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อสินค้า </mat-header-cell>
              <mat-cell *matCellDef="let product"> {{product.Product_Name}} </mat-cell>
            </ng-container>

             <!-- Progress Column -->
             <ng-container matColumnDef="notiExp1">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 1 </mat-header-cell>
              <mat-cell *matCellDef="let product"> <div class="ui input">
                <input type="text"  placeholder="{{product.Notifications_Exp1}} วัน" [(ngModel)]="product.notiExp1" > 
              </div> </mat-cell>
            </ng-container>
        
            <!-- Color Column -->
            <ng-container matColumnDef="notiExp2">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 2 </mat-header-cell>
              <mat-cell *matCellDef="let product"> <div class="ui input" >
                <input type="text"  placeholder="{{product.Notifications_Exp2}} วัน " [(ngModel)]="product.notiExp2">
              </div> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="notiExp3">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การเตือนระดับที่ 3 </mat-header-cell>
              <mat-cell *matCellDef="let product">  <div class="ui input" >
                <input type="text"  placeholder="{{product.Notifications_Exp3}} วัน " [(ngModel)]="product.notiExp3" >
              </div> </mat-cell>
            </ng-container>


            <ng-container matColumnDef="button">
              <mat-header-cell *matHeaderCellDef mat-sort-header>   </mat-header-cell>
              <mat-cell *matCellDef="let product">  <button class="ui inverted green button"(click)="setting_exp(product.Product_Code,product.notiExp1,product.notiExp2,product.notiExp3)">ยืนยัน</button> &nbsp; <button class="ui inverted red button">ยกเลิก</button> </mat-cell>
            </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                <mat-row *matRowDef="let product; columns: displayedColumns2;">
                </mat-row>
              </mat-table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            
              
    </mat-tab>
</mat-tab-group>
</mat-card>
</body>