
<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>

<mat-toolbar color="primary" >

  <a [routerLink]="'/dashboard-head-office'"><button mat-button>LUXURY</button></a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="'/dashboard-head-office'"><button mat-button>หน้าแรก</button></a>
  <a [routerLink]="'/product'"><button mat-button >สินค้า</button></a>
  <a [routerLink]="'/supply'"><button mat-button >การสั่งจ่ายสินค้า</button></a>
  <a [routerLink]="'/requisition'"><button mat-button>คำขอเบิกสินค้า</button></a>
  <!-- <a [routerLink]="'/using-product'"><button mat-button >ข้อมูลการใช้สินค้าสาขาย่อย</button></a> -->
  <a [routerLink]="'/notification'"><button mat-button >ตั้งค่าการแจ้งเตือน</button></a>
  <a [routerLink]="'/report'"><button mat-button >ออกรายงาน</button></a>
  
  <span class="example-spacer"></span>
  

  <i class="material-icons" aria-hidden="true" >notifications </i> 
  <div *ngIf = "notifications">
    <mat-chip-list>
        <mat-chip  color="warn" selected="true"  (click)="openDialog()"  aria-hidden="true"> {{Number_count}} </mat-chip>
  </mat-chip-list>
</div>
  <mat-icon [matMenuTriggerFor]="menu" role="img" aria-hidden="true">person</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
  


</mat-toolbar>
<!-- 
<div class="imageDiv"></div>
<div class="imageDiv bottomDiv"></div> -->
