<app-header></app-header>

<h1 style="text-align:center">เพิ่มจำนวนสินค้า</h1>

<mat-card>

  <div class="example-container" style="text-align:center">
      <mat-select placeholder="รหัสสินค้า" [(ngModel)]="ProductCode" name="ProductCode">
          <mat-option *ngFor="let product of products" [value]="product" (click)="Show(product)">
            {{ product.Product_Code }}
          </mat-option>
        </mat-select>
        </div>
        <div *ngIf="show">
          <div class="container">
             fkgfdlgkdfg;kdf;
          </div>
        </div>
  <button mat-raised-button color="primary" >เพิ่มสินค้า</button>
</mat-card>


