<app-header-branch></app-header-branch>

<body>
  <mat-card>
    <h1>การจองคอร์ส</h1>
  
      <mat-form-field>
        <mat-select placeholder="Favorite food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
     
          
        </mat-form-field>
        
    

&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- <div class="example-header"> -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- </div> -->
    <i class="material-icons col-3">search</i>
    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="courseName"> 
          <mat-header-cell  *matHeaderCellDef mat-sort-header > คอร์ส </mat-header-cell>
          <mat-cell  *matCellDef="let reservation"> {{reservation.Course_Name}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell  *matHeaderCellDef mat-sort-header > วันที่จองคอร์ส </mat-header-cell>
          <mat-cell  *matCellDef="let reservation"> {{reservation.ReservationCourse_Date}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="status">
          <mat-header-cell  *matHeaderCellDef mat-sort-header > สถานะ </mat-header-cell>
          <mat-cell  *matCellDef="let reservation"> {{reservation.ReservationCourse_Status}} </mat-cell>
        </ng-container> -->
        <!-- Color Column -->
        <!-- <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> จำนวน </mat-header-cell>
          <mat-cell *matCellDef="let reservation" > {{reservation}} </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <br> 

    <button class="button button1">ตรวจสอบความเพียงพอของสินค้า</button>
   
  </mat-card>
</body>